.mobile-search-button {
  filter: sepia() saturate(900%) hue-rotate(50deg);
  display: none;
}

.mobile-search-button:hover {
  filter: sepia() saturate(700%) hue-rotate(100deg);
}

.search-button-container > button {
  background-color: none;
  font-size: 25px;
  color: #3FAE49;
  cursor: pointer;
  border: 0;
  background: none;
  transition: 0.2s all ease-in;
}

.search-button-container > button:hover {
  color: rgb(156, 253, 164);
}

@media (max-width: 550px) {
  .mobile-search-button {
    display: block;
  }

  .desctop-search-button {
    display: none;
  }
}