.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 91vh;
  margin-top: 9vh;
  
  .header-content__bg-image {
    width: 100%;
    height: 100%;

    filter: blur(2px);
    transition: 1.3s ease-in-out all;
    background: url('../../../../../../assets/img/header-bg-0.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
