.poet__photo--container {
  display: flex;
}

.poet__photo--img {
  width: 300px;
  height: 390px;
}

.poet__photo--name {
  margin-top: 0;
}

.poet__photo--info {
  margin: 0 0 0 50px;
}

.poet__photo--info > * {
  margin-bottom: 40px;
}
